{% extends 'base.html.twig' %}

{% block title %}{{ libro.titulo }}{% endblock %}

{% block body %}
    <h1>{{ libro.titulo }}</h1>
    <div class="detail-row">
        <span class="detail-label">Autor</span>
        <span class="detail-value">{{ libro.autor }}</span>
    </div>
    <div class="detail-row">
        <span class="detail-label">Precio</span>
        <span class="detail-value">{{ libro.precio }}€</span>
    </div>
    <div class="detail-row">
        <span class="detail-label">ID</span>
        <span class="detail-value">#{{ libro.id }}</span>
    </div>
{% endblock %}
